body {
    background: #222D32;
    font-family: 'Roboto', sans-serif;
}

.login-box {
    width: 678px;
    border-radius: 13px;
    margin-top: 75px;
    height: auto;
    background: #1A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-key {
    height: 50px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #ECF0F5;
}

.login-form {
    margin-top: 25px;
    text-align: left;
}

input[type=text] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
}

input[type=password] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}

.form-group {
    margin-bottom: 40px;
    outline: 0px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 10px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 75px;
}

.btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: #0DB8DE;
    right: 0px;
}

.login-btm {
    float: left;
}

.login-button {
    margin-left: 26px;
    text-align: right;
    margin-bottom: 25px;
}

.login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
}

.loginbttm {
    padding: 0px;
}

.form-control {
    display: block;
    width: 70%;
    margin: auto;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

table {
    width: 70%;
    border-collapse: collapse;
    border-radius: 20px;
    margin: auto;
}

th, td {
    padding: 20px;
    /* border-radius: 20px; */
    /* text-align: left; */
}
tr:hover{
    background-color: rgb(244, 188, 188);
    /* font-weight: 900; */
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');



/************ Start Main Rules **************/
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
/*   font-family: 'Roboto', sans-serif; */font-family: 'Raleway', sans-serif;
}

body{background: #191919  }

.main-box{
  position: relative;
  display: block;
  width: 90%;
  height: 700px;
  margin: 50px auto;
  border-radius: 8px;
  overflow: hidden;
  background:linear-gradient(to right, #232f41, #374a62);
}

.lined-link{
  position: relative;
  text-decoration: none;
  transition: all 0.2s linear
}

.lined-link:hover{
  opacity: 0.5
}

.lined-link:after {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  bottom: -2px;
  border: none;
  border-bottom: 1px solid #63d5c4;
}

/************ Start Slider Container **************/
.slider-cont,
.form-cont{
  width: 50%;
  height: 100%;
  float: left;
}

.slick-slide,
.slick-slider{
  width: 100%;
  height: 100% 
}

.clear-fix{
  clear: both;
}

.slick-dots {
  position: absolute;
  bottom: 10px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 3px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  display: block;
  width: 10px;
  height: 10px;
  padding: 5px;
  cursor: pointer;
  border: 0;
  outline: none;
  background: #8dffea;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.slick-dots li.slick-active button{
  background-color: #53C5B9;
  transform: scale(1.6);
  box-shadow: 0 0 10px #1b1b1b
}

.img-txt{
  position: relative;
}

.img-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(47, 63, 85, 0.53);
}

.img-txt h1{
  position: absolute;
  display: block;
  top: 50%;
  color: #fff;
  width: 100%;
  padding: 50px 0;
  font-size: 45px;
  font-weight: 100;
  text-align: center;
  transform: translateY(-50%);
  background-color: transparent;
}

/************ Start Form Container **************/

.top-buttons {
  position: relative;
  display: block;
  width: 100%;
  height: 15%;
  padding: 25px;
  text-align: right;
}

.top-buttons button {
  color: #cacaca;
  border: none;
  width: 90px;
  margin: -2px;
  padding: 10px;
  font-size: 16px;
  font-weight: 300;
  background: #4c5c72;
  cursor: pointer;
}

.top-buttons button:nth-child(1) {
  border-radius: 50px 0 0 50px;
}

.top-buttons button:nth-child(2) {
  border-radius: 0 50px 50px 0;
}

.top-active-button {
  color: #fff !important;
  box-shadow: 0 0 20px #2a2a2a;
  background: linear-gradient(#68dac7,#54c7ba) !important;
  transition: all 0.3s ease;
}

.form{
  width: 100%;
  height: 85%;
  padding: 10px 40px;
}

.form form {
  width: 100%;
  height: 100%;
}

.form form 
lable,
input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
}

.form form lable {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  margin: 6px 0;
}

p.terms {
  color: #9E9E9E;
  margin-bottom: 60px;
}

.form form 
input[type="text"],
input[type="email"], 
input[type="password"],
input[type="number"] {
  color: #fff;
  /* width: 100%; */
  border: none;
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 35px;
  padding: 5px 0 10px 0;
  background: transparent;
  border-bottom: 1px solid #4c5c72;
}

.form form input::placeholder{
  color: #cecece;
}

.form form a {
  color: #fff;
}

input.form-btna {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  padding: 12px 55px;
  margin-right: 20px;
  border: none;
  cursor: pointer;
  border-radius: 35px;
  transition: all 0.3s linear;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.55);
  background: linear-gradient(to right, #5bcdbe,#41ab9e);
}

input.form-btna:hover{
  box-shadow: none
}

.form-signin{
  display: none;
  padding-top: 120px;
}

#usertype{
    background-color: #19191900;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    color: whitesmoke;
    font-size: 15px;
}
.option{
    background-color: #413558;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    /* color: whitesmoke; */
    font-size: 15px;
}